In [1]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

file_to_load= "../Project_1/employee_reviews.csv"
review_data= pd.read_csv(file_to_load)

In [2]:
review_data.head(1)

,Unnamed: 0,company,location,dates,job-title,summary,pros,cons,advice-to-mgmt,overall-ratings,work-balance-stars,culture-values-stars,carrer-opportunities-stars,comp-benefit-stars,senior-mangemnet-stars,helpful-count,link
0,1,google,none,"Dec 11, 2018",Current Employee - Anonymous Employee,Best Company to work for,People are smart and friendly,Bureaucracy is slowing things down,none,5.0,4.0,5.0,5.0,4.0,5.0,0,https://www.glassdoor.com/Reviews/Google-Revie...

In [3]:
company_summary_df=review_data.groupby(["company"]).agg({"company":["count"],"overall-ratings":["mean","median"]}).reset_index()
company_summary_df.columns = ["Company" , "#_of_reviews", "avg_rating","median_rating"]
company_summary_df

     Company  #_of_reviews  avg_rating  median_rating
0     amazon         26430    3.587363            4.0
1      apple         12950    3.958224            4.0
2   facebook          1590    4.511950            5.0
3     google          7819    4.339430            5.0
4  microsoft         17930    3.816564            4.0
5    netflix           810    3.411111            4.0

In [4]:
amazon_df=review_data[review_data['company']=='amazon']
apple_df=review_data[review_data['company']=='apple']
facebook_df=review_data[review_data['company']=='facebook']
google_df=review_data[review_data['company']=='google']
microsoft_df=review_data[review_data['company']=='microsoft']
netflix_df=review_data[review_data['company']=='netflix']

In [7]:
from datetime import datetime

def time_convert(time):
    conv_time = time.replace(",","").strip()
    new_time = datetime.strptime(conv_time, '%b %d %Y')
    return(new_time)

review_data['dates'] = review_data['dates'].apply(time_convert)
review_data.head()

ValueError: time data 'None' does not match format '%b %d %Y'